    h1,h2,h3,h4,h5,h6{
        font-family: 'Noto Sans TC', sans-serif;
    }
    p,a,input,label,textarea,span,ul,li{
        font-family: 'Open Sans', sans-serif;
    }
    
    
    body{
        background: linear-gradient(45deg, #cac, #aca) center center / 100% 100%
          fixed;
        padding: 100px 0;
    }
      svg {
        height: 100vh;
      }

      body { 
        display: flex;
        align-items: center;
        color: white;
        font-size: 30px;
      }

      path {
        stroke: rgb(0, 0, 0);
        fill: transparent;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
      }
      path:hover {
        fill: darkcyan;
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
      }